
<head>
<style type="text/css">
.auto-style1 {
	text-align: center;
}
.auto-style2 {
	font-family: Arial, Helvetica, sans-serif;
}
.auto-style3 {
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
}
.auto-style4 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-large;
	font-weight: normal;
}
.auto-style5 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
}
</style>
</head>

<span class="auto-style2">@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "cooking with the doctors . com"; //Healthy Cooking, Cooking Recipes";
    Page.RecipesSelected = "selected";
}</span>
	<div>
    <a class="lfloat" href="breakfast-recipes.html">Prev</a>
     <a class="rfloat" href="breakfast-recipes-3.html">Next</a>
   </div>
    <div class="home-link"><a href="~/">Home</a></div>
<div class="cook-img">
    <img src="/image/Breakfast_Cook_Crop.png" alt="" width="200" height="250" class="auto-style2" /><br class="auto-style2" />
    <img src="/image/breakfast_signature.jpg" alt="" width="200" class="auto-style2" /><span class="auto-style2">
	</span>
                </div>
<div class="content-section">
    <div class="row">
        <div class="small-8 columns">
            <h2 class="auto-style4">the breakfast cook's<br>organic scrambled<br>
			eggs with chives<br>and black olives</h2>
            <p class="auto-style5">
                serves 4</p>
			<p class="auto-style5">
                ingredients:</p>
			<p class="auto-style5">
                6 organic eggs<br>2 tablespoons of chives<br>4 black olives 
				sliced<br>2 tablespoons of olive oil</p>
			<p class="auto-style5">
                beat the eggs, heat up the oil in a large pan,<br>mix eggs with 
				chives and olives, add mixture<br>to pan and cook over medium 
				heat stir constantly<br>until eggs are cooked but still soft</p>
        </div>
    </div>
    <div class="row">
        <div class="auto-style1">
            &nbsp;<img alt="" src="image/organic eggs.png" class="auto-style2"><span class="auto-style2">
			</span></div>
    </div>
</div>
